body {
    background: url('../css/penta.jpg');
  }

.container {
    background-color:white;
    margin:0 auto;
    margin-top:50px;
    padding:25px;
    border-radius:15px;
    width:250px;
    text-align:center;
}
